<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplexendpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8301/" binding="wsDualHttpBinding"
                bindingConfiguration="duplexendpoint" contract="ServiceTestApp.IServiceChat"
                name="duplexendpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-GGRBHVS\mukht" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>